# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2022 Louis Schul <schul9louis@gmail.com>

[Desktop Entry]
Name=KleverNotes
Name[ca]=KleverNotes
Name[ca@valencia]=KleverNotes
Name[de]=KleverNotes
Name[en_GB]=KleverNotes
Name[es]=KleverNotes
Name[fr]=KleverNotes
Name[it]=KleverNotes
Name[ka]=KleverNotes
Name[nl]=KleverNotes
Name[pl]=KleverNotes
Name[pt]=KleverNotes
Name[sl]=KleverNotes
Name[tr]=Akıllı Notlar
Name[uk]=KleverNotes
Name[x-test]=xxKleverNotesxx
Comment=KleverNotes Kirigami Application
Comment[ca]=Aplicació de Kirigami KleverNotes
Comment[ca@valencia]=Aplicació de Kirigami KleverNotes
Comment[de]=KleverNotes - Kirigami-Anwendung
Comment[en_GB]=KleverNotes Kirigami Application
Comment[es]=Aplicación Kirigami KleverNotes
Comment[fr]=Application Klevernotes reposant sur Kirigami
Comment[it]=Applicazione Kirigami KleverNotes
Comment[ka]=KleverNotes - Kirigami-ის აპლიკაცია
Comment[nl]=Kirigami-toepassing KleverNotes
Comment[pl]=Aplikacja Kirigami KleverNotes
Comment[pt]=Aplicação do KleverNotes em Kirigami
Comment[sl]=Kirigami aplikacija Klevernotes
Comment[tr]=Akıllı Notlar Kirigami Uygulaması
Comment[uk]=Програма на Kirigami KleverNotes
Comment[x-test]=xxKleverNotes Kirigami Applicationxx
Version=1.0
Exec=klevernotes
Icon=applications-development
Type=Application
Terminal=false
Categories=Qt;KDE;Utility
