# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2022 Louis Schul <schul9louis@gmail.com>

[Desktop Entry]
Name=KleverNotes
Name[ca]=KleverNotes
Name[ca@valencia]=KleverNotes
Name[cs]=KleverNotes
Name[de]=KleverNotes
Name[en_GB]=KleverNotes
Name[eo]=KleverNotes
Name[es]=KleverNotes
Name[eu]=KleverNotes
Name[fi]=KleverNotes
Name[fr]=KleverNotes
Name[gl]=KleverNotes
Name[it]=KleverNotes
Name[ka]=KleverNotes
Name[ko]=KleverNotes
Name[nl]=KleverNotes
Name[pl]=KleverNotes
Name[pt]=KleverNotes
Name[sl]=KleverNotes
Name[sv]=KleverNotes
Name[tr]=Akıllı Notlar
Name[uk]=KleverNotes
Name[x-test]=xxKleverNotesxx
Name[zh_TW]=KleverNotes 智慧筆記
Comment=KleverNotes Kirigami Application
Comment[ca]=Aplicació de Kirigami KleverNotes
Comment[ca@valencia]=Aplicació de Kirigami KleverNotes
Comment[cs]=Aplikace Kirigami KleverNotes
Comment[de]=KleverNotes - Kirigami-Anwendung
Comment[en_GB]=KleverNotes Kirigami Application
Comment[eo]=KleverNotes Kirigami-Apliko
Comment[es]=Aplicación Kirigami KleverNotes
Comment[eu]=KleverNotes Kirigami aplikazioa
Comment[fi]=KleverNotes-Kirigami-sovellus
Comment[fr]=Application Klevernotes reposant sur Kirigami
Comment[gl]=Aplicación de Kirigami KleverNotes
Comment[it]=Applicazione Kirigami KleverNotes
Comment[ka]=KleverNotes - Kirigami-ის აპლიკაცია
Comment[ko]=KleverNotes Kirigami 앱
Comment[nl]=Kirigami-toepassing KleverNotes
Comment[pl]=Aplikacja Kirigami KleverNotes
Comment[pt]=Aplicação do KleverNotes em Kirigami
Comment[sl]=Kirigami aplikacija Klevernotes
Comment[sv]=KleverNotes Kirigami-program
Comment[tr]=Akıllı Notlar Kirigami Uygulaması
Comment[uk]=Програма на Kirigami KleverNotes
Comment[x-test]=xxKleverNotes Kirigami Applicationxx
Comment[zh_TW]=KleverNotes Kirigami 應用程式
Version=1.0
Exec=klevernotes
Icon=org.kde.klevernotes.svg
Type=Application
Terminal=false
Categories=Qt;KDE;Utility
